/* Name: Shashin Gounden */
/* Student Number: 21458686 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    height: 100%;
    width: 100%;
    background-color: #161616;
    background-size: cover;
    background-position: center;
    padding-bottom: 200px;
  }
  
  .logo {
    cursor: pointer;
    width: 250px;
    margin-left: 15px;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 55px;
  }
  
  nav ul li a {
    position: relative;
    color: white;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
  }
  
  nav ul li a:hover {
    transition: 0.3s;
  }
  
  nav ul li a::after {
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    left: 0;
    bottom: -10%;
    transition: 0.3s;
  }
  
  nav ul li a:hover::after {
    width: 100%;
  }
  
  nav ul li a.active-page {
    border-bottom: 3px solid white;
    padding-bottom: 3px;
  }

  * {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
  text-align: center;
}


table {
  margin-top: 30px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	font-family: "Raleway", sans-serif;
	animation: glow 4s ease-in-out infinite;
}

th,
td {
	padding: 10px;
	
	text-align: center;
	color: white;
	border: thin white solid;
}


th {
	color: white;
	font-weight: bold;
}



thead{
	background-color: gray;
	
}

input[type=search] 
{
	width: 30%;
	transition: width 0.4s ease-in-out;
}
  
 

  input[type=search]:hover 
  {
	width: 50%;
  }

  ::placeholder{
	text-align: center;
  }

  .searchIcon
  {
	padding-left: 5px;
 
  }

  .searchIcon:hover
  {
    
	cursor: pointer;
  }

  h3,h1,p
  {
	color: white;
	font-family: "Raleway", sans-serif;
	text-align: center;
  }

  h3{
	padding-top: 2%;
 
  }
  h3,h1{
	padding-bottom: 20px;
  }

  p{
  display: inline-block;

  }

  .carImg:hover{
	transform: translateY(-2%);
  }

  tbody tr:nth-child(even) {
	background-color: lightgray;
}

tbody tr:nth-child(odd) {
	background-color: darkgray;
}

.CT_header{
	border-bottom: thin white solid;
}

@keyframes glow {
    0% {
      box-shadow: none;
    }
    50% {
      box-shadow: 0 0 1em white;
    }
    100% {
      box-shadow: none;
    }
  }

  .typewriter p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    
    animation: 
      typing 2.5s steps(40, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 70% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }

  .CarSearch{
    border-radius: 0.5rem;
    border: none;
    height: 20px;
    text-align: center;
  }

  .fulltable{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

  }

  footer {
    background-color: #222;
    color: #fff;
    border-top: 2px solid white;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  
  .footer-content {
    
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-column {
    width: 33.33%;
    margin-bottom: 20px;
  }
  
  .footer-column h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-column ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  
  .footer-column li {
    margin-bottom: 5px;
  }
  
  .footer-column a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-column .footer-logo {
    text-align: center;
  }
  
  .footer-column p {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .toggle-switch {
    appearance: button;
    border: 2px solid black;
    background-color: white;
    border-radius: 16px;
    height: 30px;
    width: 150px;
    color: black;
    cursor: pointer;
    text-align: center;
  }
  
  